.cartitems{
      margin: 100px 170px;
      
}
.cartitems hr{
      height: 3px;
      background: #e2e2e2;
      border: 0;
}
.cartitems-format-main{
      display: grid;
      grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
      padding: 20px 0px;
      color: #444343;
      font-size: 18px;
      font-weight: 600;
}
.cartitems-format{
      font-size: 17px;
      font-weight: 500;
      
}
.product-icon{
      height: 62px;
}
.remove-icon{
      width: 15px;
      margin: 0px 40px;
      cursor: pointer;
}
.cartitems-quantity{
      width: 64px;
      height: 50px;
      border: 2px solid #c9c9c9;
      background: white;
}
.cartitem-down{
      display: flex;
      margin: 100px 0px;
}
.cartitem-total{
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-right: 200px;
      gap: 40px;
}
.total-item{
      display: flex;
      justify-content: space-between;
      padding: 15px 0px;
}
.cartitem-total button{
      width: 262px ;
      height: 58px;
      outline: none;
      border: none;
      background: #de2626;
      color: white;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
}
.cartitems-promocode{
      flex: 1;
      font-size: 16px;
      font-weight: 500;

}
.cartitems-promocode p{
      color: #444343;
}
.cartitems-promobox{
      width: 504px;
      margin-top: 15px;
      padding-left: 20px;
      height: 58px;
      background: #eaeaea;
}
.cartitems-promobox input{
      width: 330px;
      height: 50px;
      border: none;
      outline: none;
      font-size: 16px;
      background: transparent;
}
.cartitems-promobox button{
      width: 170px;
      height: 58px;
      background: black;
      color: white;
      cursor: pointer;
      font-size: 16px;
}