.descriptionbox{
      margin: 120px 170px;
}
.descriptionbox-navigator{
      display: flex;
}
.box-nav-box{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px;
      width: 171px;
      border: 1px solid #c9c9c9;
      font-size: 16px;
      font-weight: 600;
}
.box-nav-box-fade{
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f5f2f2;
      border: 1px solid #c9c9c9;
      color: #555;
      height: 70px;
      width: 171px;
}
.box-description{
      display: flex;
      flex-direction: column;
      gap: 25px;
      border: 1px solid #c9c9c9;
      padding: 48px;
      padding-bottom: 70px;
}